@import "tailwindcss";

a.technology {
  background: url(https://my.saaske.com/home/img/technology_bg.png) repeat-x left top #64716d;
  background-size: contain;
  border: 1px solid #3d4d48;
  display: block;
  line-height: 0;
  text-align: center;
  &&:before {
    background: url(https://my.saaske.com/home/img/technology.png) center center no-repeat;
    background-size: auto 100%;
    content: "";
    display: block;
    height: 65px;
    width: 100%;
  }
}
a.consulting {
  background: url(https://my.saaske.com/home/img/consulting_bg.png) center center no-repeat #d7e7b9;
  background-size: contain;
  border: 1px solid #6a9644;
  display: block;
  line-height: 0;
  text-align: center;
  &&:before {
    background: url(https://my.saaske.com/home/img/consulting.png) center center no-repeat;
    background-size: auto 65%;
    content: "";
    display: block;
    height: 65px;
    width: 100%;
  }
}

.hero {
  background: #fff url(https://www.saaske.com/include/img/technology/bg.png) repeat 50% 0;
}

.hero-title {
  position: relative;
  margin-bottom: 30px;
  padding: 20px;
  border-radius: 30px;
  background-color: #ecf1e4;
  color: #3d8256;
  border: 1px solid #3d8256;
  font-weight: bold;
  font-size: 28px;
  font-size: 1.75rem;
  line-height: 1.14286;
  text-align: center;
  &:before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    border-style: solid;
    border-width: 20px 10px 0 10px;
    border-color: #3d8256 transparent transparent;
    translate: -50% 100%;
  }
  &:after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    border-style: solid;
    border-width: 19.8px 9.9px 0 9.9px;
    border-color: #ecf1e4 transparent transparent;
    translate: -50% 90%;
  }
}

.article-body img {
  cursor: pointer;
}

.collapsible-sidebar.lg\:sticky {
  @media (width >= 64rem) {
      position: sticky;
  }
}