<footer class="relative border-t border-slate-200 bg-white flex flex-col items-center gap-8 p-6">

  <ul
    id="footer_categories"
    class="max-w-6xl w-full flex justify-center flex-wrap gap-2"
    x-data="{ categories: [] }"
    x-init="fetchZendeskCategories().then(data => categories = data)">
    <template x-for="category in categories">
      <li class="w-30 text-center">
        <a
          :href="category.html_url"
          class="text-sm text-gray-500"
          x-text="category.name"
        ></a>
      </li>
    </template>
  </ul>

  <div class="max-w-6xl w-full grid gap-6">
    <div class="flex flex-col items-center justify-between gap-6 text-center md:flex-row md:text-left">
      <div>
        {{#link "help_center"}}
        <img src="{{settings.logo}}" alt="{{t 'home_page' name=help_center.name}}" class="m-auto h-20" />
        {{#if settings.show_brand_name}}
        <span aria-hidden="true" class="hidden">{{help_center.name}}</span>
        {{/if}}
        {{/link}}
      </div>
      <div
        class="flex flex-col sm:flex-row gap-2 sm:gap-0 text-sm"
        x-data="{ links: [
          [
            { name: 'ホームページ', html_url: 'https://www.saaske.com/' },
            { name: '運営会社', html_url: 'https://www.interpark.co.jp/' },
          ],
          [
            { name: 'プレスリリース', html_url: 'https://www.saaske.com/topics/' },
            { name: '障害報告', html_url: 'https://www.saaske.com/trouble/' },
          ],
          [
            { name: 'プライバシーポリシー', html_url: 'https://www.saaske.com/information/privacy.html' },
            { name: '利用約款', html_url: 'https://www.saaske.com/information/rule.html' },
          ],
        ] }">
        <template x-for="link in links">
          <ul class="w-auto sm:w-40" x-data="{ link }">
            <template x-for="item in link">
              <li>
                <a
                  :href="item.html_url"
                  target="_blank"
                  class="text-sm text-gray-500"
                  x-text="item.name"
                ></a>
              </li>
            </template>
          </ul>
        </template>
      </div>
    </div>

    <div class="text-center text-sm text-gray-500 md:text-left">
      Copyright &#xA9;
      <span x-init="date = new Date().getFullYear()" x-text="date"></span>
      Interpark., Co. Ltd.
      <span class="block sm:inline">
        All rights reserved.
      </span>
    </div>

  </div>
</footer>