<section
  x-data="{
    bannerVisible: false,
    summary: {
      page: {
        name: 'クラウドサービス サスケ',
        url: 'https://saaske.instatus.com',
        status: 'UP',
      }
    },
    getData() {
      fetch('https://saaske.instatus.com/summary.json')
      .then(response => response.json())
      .then(result => {
        console.log('footer.hbs - getData - result:', result);
        this.summary = result;
        const { page, activeIncidents, activeMaintenances } = this.summary;
        const changeStartToJST = str => new Date(str).toLocaleString('ja-JP', { year: 'numeric', month: '2-digit', day: '2-digit', hour: '2-digit', minute: '2-digit', hour12: false }).replace(/\//g, '/');
        const statusJPs = {
          // インシデント
          INVESTIGATING: '調査中',
          IDENTIFIED: '特定済み',
          MONITORING: '監視中',
          RESOLVED: '解決済み',
          // メンテナンス
          NOTSTARTEDYET: '予定',
          INPROGRESS: '進行中',
          COMPLETED: '完了',
        };
        const impactJPs = {
          OPERATIONAL: '稼働中',
          PARTIALOUTAGE: '一部にて障害',
          MINOROUTAGE: '軽微な障害',
          MAJOROUTAGE: '重大な障害',
        };
        if (activeIncidents) {
          this.summary.activeIncidents = activeIncidents.map(activeIncident => {
            const { started, status, impact } = activeIncident;
            const startJST = changeStartToJST(started);
            const statusJP = statusJPs[status] || status;
            const impactJP = impactJPs[impact] || impact;
            return {...activeIncident, startJST, statusJP, impactJP};
          })
        }
        if (activeMaintenances) {
          this.summary.activeMaintenances = activeMaintenances.map(activeMaintenance => {
            const { start, status } = activeMaintenance;
            const startJST = changeStartToJST(start);
            const statusJP = statusJPs[status] || status;
            return {...activeMaintenance, startJST, statusJP};
          })
        }
        // インシデント または メンテナンス があるときは表示
        if (activeIncidents || activeMaintenances) this.bannerVisible = true;
      });
    },
  }"
  x-show="bannerVisible"
  x-transition:enter="transition ease-out duration-500"
  x-transition:enter-start="translate-y-full"
  x-transition:enter-end="translate-y-0"
  x-transition:leave="transition ease-in duration-300"
  x-transition:leave-start="translate-y-0"
  x-transition:leave-end="translate-y-full"
  x-init="getData()"
  x-cloak
  class="border-t border-slate-200 bg-white flex flex-col items-center px-2 py-4 fixed bottom-0 left-0 h-auto w-full shadow-sm duration-300 ease-out"
  style="display: none;"
  >
    <div class="max-w-6xl w-full grid gap-2 text-xs">
      <span class="rounded-full px-2.5 py-0.5 text-white font-semibold bg-black w-20 text-center">お知らせ</span>
      <template x-for="activeIncident in summary.activeIncidents">
        <p class="flex items-center gap-2">
          <span x-text="activeIncident.startJST"></span>
          <a :href="activeIncident.url" x-text="activeIncident.name"></a>
          <span class="hidden rounded-full px-2.5 py-0.5 text-white font-semibold bg-black" x-text="`${activeIncident.impactJP} / ${activeIncident.statusJP}`"></span>
        </p>
      </template>
      <template x-for="activeMaintenance in summary.activeMaintenances">
        <p class="flex items-center gap-2">
          <span x-text="activeMaintenance.startJST"></span>
          <a :href="activeMaintenance.url" x-text="activeMaintenance.name"></a>
          <span class="hidden rounded-full px-2.5 py-0.5 text-white font-semibold bg-black" x-text="activeMaintenance.statusJP"></span>
        </p>
      </template>
    </div>
</section>

<footer class="relative border-t border-slate-200 bg-white flex flex-col items-center gap-8 p-6">

  <ul
    id="footer_categories"
    class="max-w-6xl w-full flex justify-center flex-wrap gap-2"
    x-data="{ categories: [] }"
    x-init="fetchZendeskCategories().then(data => categories = data)">
    <template x-for="category in categories">
      <li class="w-30 text-center">
        <a
          :href="category.html_url"
          class="text-sm !text-neutral-500"
          x-text="category.name"
        ></a>
      </li>
    </template>
  </ul>

  <div class="max-w-6xl w-full grid gap-6">
    <div class="flex flex-col items-center justify-between gap-6 text-center md:flex-row md:text-left">
      <div>
        {{#link "help_center"}}
        <img src="{{settings.logo}}" alt="{{t 'home_page' name=help_center.name}}" class="m-auto h-20" />
        {{#if settings.show_brand_name}}
        <span aria-hidden="true" class="hidden">{{help_center.name}}</span>
        {{/if}}
        {{/link}}
      </div>
      <div
        class="flex flex-col sm:flex-row gap-2 sm:gap-0 text-sm"
        x-data="{ links: [
          [
            { name: 'ホームページ', html_url: 'https://www.saaske.com/' },
            { name: '運営会社', html_url: 'https://www.interpark.co.jp/' },
          ],
          [
            { name: 'プレスリリース', html_url: 'https://www.saaske.com/topics/' },
            { name: '障害報告', html_url: 'https://saaske.instatus.com/' },
          ],
          [
            { name: 'プライバシーポリシー', html_url: 'https://www.saaske.com/information/privacy.html' },
            { name: '利用約款', html_url: 'https://www.saaske.com/information/rule.html' },
          ],
        ] }">
        <template x-for="link in links">
          <ul class="w-auto sm:w-40" x-data="{ link }">
            <template x-for="item in link">
              <li>
                <a
                  :href="item.html_url"
                  target="_blank"
                  class="text-sm !text-neutral-500"
                  x-text="item.name"
                ></a>
              </li>
            </template>
          </ul>
        </template>
      </div>
    </div>

    <div class="text-center text-sm text-neutral-500 md:text-left">
      Copyright &#xA9;
      <span x-init="date = new Date().getFullYear()" x-text="date"></span>
      Interpark., Co. Ltd.
      <span class="block sm:inline">
        All rights reserved.
      </span>
    </div>

  </div>
</footer>