<footer class="border-t border-gray-200 p-6">
  <div class="max-w-6xl m-auto flex flex-col sm:flex-row gap-4 sm:gap-0 justify-between items-center">
    {{#link 'help_center'}}
      <img src="{{settings.logo}}" alt="{{t 'home_page' name=help_center.name}}"  class="h-10" />
      {{#if settings.show_brand_name}}
        <span aria-hidden="true" class="hidden">{{help_center.name}}</span>
      {{/if}}
    {{/link}}
    <div class="flex items-center gap-4">
      <span class="text-sm text-gray-500 text-center">
        Copyright(C) Interpark.,
        Co. Ltd. All rights reserved.
      </span>
  </div>

</footer>