<script src="{{asset 'footer-categories.js'}}" type="module"></script>

<footer class="relative border-t border-gray-200 bg-white p-6">

  <div class="m-auto grid max-w-6xl gap-6">

    <div
      id="footer_categories"
      class="flex justify-center flex-wrap gap-2">
    </div>

    <div class="flex flex-col items-center justify-between gap-6 text-center md:flex-row md:text-left">
      <div>
        {{#link "help_center"}}
        <img src="{{settings.logo}}" alt="{{t 'home_page' name=help_center.name}}" class="m-auto h-20" />
        {{#if settings.show_brand_name}}
        <span aria-hidden="true" class="hidden">{{help_center.name}}</span>
        {{/if}}
        {{/link}}
      </div>
      <div class="grid grid-cols-3 gap-4 text-sm">
        <ul>
          <li>
            <a href="https://www.saaske.com/" class="text-sm no-underline" target="_blank">
              <span class="text-gray-500">ホームページ</span>
            </a>
          </li>
          <li>
            <a href="https://www.interpark.co.jp/" class="text-sm no-underline" target="_blank">
              <span class="text-gray-500">運営会社</span>
            </a>
          </li>
        </ul>
        <ul>
          <li>
            <a href="https://www.saaske.com/topics/" class="text-sm no-underline" target="_blank">
              <span class="text-gray-500">プレスリリース</span>
            </a>
          </li>
          <li>
            <a href="https://www.saaske.com/trouble/" class="text-sm no-underline" target="_blank">
              <span class="text-gray-500">障害報告</span>
            </a>
          </li>
        </ul>
        <ul>
          <li>
            <a href="https://www.saaske.com/information/privacy.html" class="text-sm no-underline" target="_blank">
              <span class="text-gray-500">プライバシーポリシー</span>
            </a>
          </li>
          <li>
            <a href="https://www.saaske.com/information/rule.html" class="text-sm no-underline" target="_blank">
              <span class="text-gray-500">利用約款</span>
            </a>
          </li>
        </ul>
      </div>
    </div>

    <div class="text-center md:text-left">
      <span class="text-center text-sm text-gray-500">
        Copyright(C) Interpark., Co. Ltd. All rights reserved.
      </span>
    </div>

  </div>
</footer>